*,
*::before,
*::after {
  box-sizing: border-box;
}
/* So what does this do^? This removes all default borders before the page loads. Border box helps with formatting and responsiveness. */
/* Breakfast CSS.*/

/* Scrambled Eggs */
.scrambled-eggs {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.egg-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}
.reviews {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  gap: 5px;
}
.reviews span{
  font-weight: bold;
  color: #fa8e30;
}
.prep-time-box {
  display:flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ingredients-header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.ingredients-list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.directions {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.raw-ingredients,
.mixed-eggs, 
.cooked-eggs {
  display: block;
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 15px auto;
  border: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Waffles Recipe */

.section-header  {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}
.review-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1 rem;
  color: #333;
}
.waffle-ingredients-list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;

}
.directions-blurb, .direction-header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.waffle-ingredients-header, .waffle-ingredients-blurb {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.waffle-description{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.waffle-directions {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
}
.waffles-picture{
  width: 100%;
  max-width: 750px;
  height: auto;
}

.topings-header, .topings-blurb{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topping-list{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
}

.main-header {
  background-color: #5d8aa8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro-section, .intro {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro {
  word-break: normal;
}
.quiche-prep-content{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

